.TransactionList {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.TransactionsGroup {
  width: 100%;
}

.TransactionsGroupLabel {
  margin-bottom: 5px;
  font-size: 12px;
}

.TransactionsGroupContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
