.light-theme {
  --background: #f8f8f8;
  --control: #ffffff;

  --text-primary: #222224;
  --text-secondary: #707070;
  --text-third: #9a9a9a;

  --primary-color: #3067ff;
  --secondary-color: #abc2ff;

  --border-color: #dad8d8;
}

.dark-theme {
  --background: #131418;
  --control: #1d1d27;

  --text-primary: #e9e8ea;
  --text-secondary: #6b6a70;
  --text-third: #4e4d50;

  --primary-color: #3067ff;
  --secondary-color: #abc2ff;

  --border-color: #3f3e43;
}
