.TransactionForm {
  width: 100%;
  padding: 20px 0px;
}

.Structure {
  width: 100%;
}

.FieldBlock {
  width: 100%;
}

.Control {
  width: 100%;
}

.TextArea {
  resize: none !important;
}

.SubmitButton {
  margin-top: 10px;
}