.TooltipWrapper {
  border-radius: 5px !important;
  background-color: var(--control) !important;
  border-color: var(--border-color) !important;
  color: var(--text-primary) !important;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.15) !important;
}
